@model List<SimpleECA.Models.Admin.CategoryViewModel>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-12">
                    <form class="form-horizontal" id="createSubCategory" data-toggle="validate" role="form">
                        <div class="form-group">
                            <label for="inpUsername" class="col-* control-label">SubCategory Name</label>
                            <div class="col-*">
                                <input type="text" name="subcategoryname" class="form-control" id="inpsubcategoryname" placeholder="subcategoryname" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inpUsername" class="col-* control-label">Choose Category</label>
                            <div class="col-*">
                                <select class="form-control" id="inpCategory" name="categoryid">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.categoryid">@item.categoryname</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="SaveData()">Save changes</button>
    </div>
</div>

<script>
    function SaveData() {
        showLoader()
        debugger;

        var formdata = $("#createSubCategory").serializeArray();
        var data = {};
        $(formdata).each(function (index, obj) {
            data[obj.name] = obj.value;
        });

        $.ajax({
            url: 'Admin/AddSubCategory',
            type: 'POST',
            data: data,
            dataType: "json",
            success: function (data) {
                debugger;
                hideLoader()
                $(`#adminPatial`).modal('hide');
                showtoaster('Success');
                window.location.reload();
            },
            error: function (request, error) {
                debugger;
                hideLoader()
                showtoaster('Error');
            }
        });
    }
</script>