@model List<SimpleECA.Models.ProductViewModel>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <table class="table table-hover">
                @if (Model.Count > 0)
                {

                    @foreach (var item in Model)
                    {
                        <tr onclick="openadminpartial('@Url.Action("GetProductById","Product",new { productId = item.productid})',750)">
                            <td style="width:50px;"><img style="width:30px;" src="data:image/jpg;base64,@(item.ProductImages.FirstOrDefault().imageurl)" /></td>
                            <td>
                                @item.productname
                                <br />
                                @if (item.shortdescription.Length > 30)
                                {
                                    @string.Concat(item.shortdescription.Substring(0, 30), "...")
                                }
                            </td>
                            <td><span class="badge badge-pill badge-secondary">₹@(item.discountprice)</span></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td>Sorry, no results found!</td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="flex-grow-1"></div>
        <button class="btn btn-outline-info" onclick="openadminpartial('@Url.Action("ProductCheckOut","Product")',950)">Checkout</button>
    </div>
</div>
<style>
    .product_img{
        position:relative;
        height:300px;
    }
    .product_img img {
        width: 100%;
        object-fit: contain;
        height: 100%;
    }
</style>