<div class="container-fluid">
    <div class="bannerCarousel">
        <div class="box"><h3>1</h3></div>
        <div class="box"><h3>2</h3></div>
        <div class="box"><h3>3</h3></div>
        <div class="box"><h3>4</h3></div>
        <div class="box"><h3>5</h3></div>
        <div class="box"><h3>6</h3></div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-4 col-lg-2"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-4 col-lg-2"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-4 col-lg-2"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-4 col-lg-2"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-4 col-lg-2"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-4 col-lg-2"</p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-3"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-3"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-3"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="box">
                <p>class="col-xs-12 col-sm-6 col-md-3"</p>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-4">
            <div class="box">
                <p>class="col-xs-12 col-sm-4"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="box">
                <p>class="col-xs-12 col-sm-4"</p>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4">
            <div class="box">
                <p>class="col-xs-12 col-sm-4"</p>
            </div>
        </div>

    </div>
</div>
<script>

</script>
<style>
    body {
        text-align: center;
        text-transform: uppercase;
        padding: 50px 0;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #aaa;
        margin: 20px 0;
        padding: 10px;
        width: 100%;
        min-height: 200px;
        border: 2px #ccc solid;
        color: #fff;
    }
</style>